extends base 
block append head 

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Enter your new password
            form.form.form--resetPasswordForm
                .form__group
                    label.form__label(for='email') Password
                    input#password.form__input(type='password' placeholder='••••••••', required minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password Confirm
                    input#password__confirm.form__input(type='password' placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green reset Password